.hero {
  align-items: center;
  background: #ef8354;
  display: flex;
  height: 10vh;
}

.hero p {
  color: #fff;
  display: flex;
  font-size: 3.3rem;
  font-weight: 800;
  justify-content: center;
  width: 100%;
}

@media (min-width: 767.98px) {
  .hero h3 {
    font-size: 2rem;
  }
}
